$orange: #ffa600;
$grey: #f3f3f3;
$white: #fff;
$base-color: $orange;

@mixin  transition  {
    transition: all .5s ease-in-out;
}

@mixin corners ($radius) {
    border-radius: $radius;
}

body {
    background-color: $base-color;
    font-family: sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: $white;
    text-align: center;
}

h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens {
    font-size: 2rem;
}

button {
    @include corners(5px);
    background: $base-color;
    color: $white;
    border: solid 1px $white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    &:hover {
        @include transition;
        background: $white;
        border: solid 1px $white;
        color: $base-color;
        cursor: pointer;
    }
}